{% extends 'espace_agence_base.html.twig' %}

{% block title %} Inscription Agence{% endblock %}

{% block body_notification %}

{% if notification is defined %} onload="setTimeout(cacherDiv,6000);" {% endif %}

{% endblock %}




{% block section %}


{% if notification is defined %} 


<div id="notification">
                <div class="rectangle {{notification}}">
                    <div class="notification-text">
                        <img src="/images/icone/{{notification}}.svg" id="icone_notification">
                        <span>{{contenu | raw}}</span>
                    </div>
                </div>
            </div>
       

 {% endif %}




    <h1>Demande De Réservation</h1>
           
     <article>  
      
                    <table>



              <tr  class="titre_tab"><td>
              Identifiant De Réservation </td>
              <td>
              Date De Réservation </td>
              <td>
              Nom  </td>
              <td>
              Prénom  </td>
              <td>
              Nom Du Stade  </td>
              
              <td>
              Categorie Du Stade  </td>
              
              <td>
              Status De Réservation  </td>
              <td>
              Accepter  </td>
              <td>
              Refuser  </td>
             
              </tr>
            {% set j = 0 %}
             {% for reservation in reservations %}
               
            
            {% if j is divisible by(2) %}
                <tr class="impaire">
            {% else %}
                <tr class="paire">
            
            {% endif %}
                <td>
              {{reservation.id}} </td>
                      <td>
              {{reservation.date|date("Y-d-m H:i")}} </td>
              <td>
               {{reservation.client.nom}}  </td>
              <td>
               {{reservation.client.prenom}}  </td>
              <td>
             
                {{reservation.terrain.nom}} </td>
              <td>

              
                {{reservation.terrain.categorie}} </td>
              <td>
             
                {{reservation.Status}} </td>
                <td>
             
                <a href="{{ path('espace_agence_accept_reservation', { 'id': reservation.id }) }}"> <img src="/images/icone/tick.svg"  onmouseover="$(this).attr('src','/images/icone/tick_green.svg')" onmouseout="$(this).attr('src','/images/icone/tick.svg')"> </a> </td>
                <td>
             
                <a href="{{ path('espace_agence_refuse_reservation', { 'id': reservation.id }) }}"> <img src="/images/icone/cross.svg"  onmouseover="$(this).attr('src','/images/icone/cross_red.svg')" onmouseout="$(this).attr('src','/images/icone/cross.svg')"> </a> </td>
              </tr>
            {% set j = j + 1 %}
    
              
             {% endfor %}
          </table>
    
      
      
    </article>
    
{% endblock %}