<!DOCTYPE html>
<html lang="fr">
<head>
  
    <title>GOAL{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
  
    <link href="/style/style_agence.css" rel="stylesheet" type="text/css" >
    <link rel="icon" type="image/jpg" href=/images/photo/goal.jpg> 
    
  

</head>

<body {% block body_notification %}{% endblock %}>

    <nav id="menu">
            
    
            <div id="conteneur_logo">
                <a href="{{path('accueil')}}">
                    <img src="/images/photo/goal_logo.jpg" class="logo">
                </a>
            
            </div>
 <div id="conteneur_liste">
    <ul>

      <li>

        <a href="{{path('logout')}}">
        <img src="/images/icone/sign-out.svg"><span> Déconnexion </span>
        </a>
        

      </li>

    </ul>
    <ul>

        <li>
  
         
            <img src="/images/icone/placeholder.svg" ><span>Votre Agence </span>
     
          
          <ul>
           
            


              <li>
                <a href="#"><img src="/images/icone/padlock.svg" ><span> Mot De Passe </span>
                </a>
              </li>

           

            <li>
                <a href="#"><img src="/images/icone/pencil.svg" ><span> Nom D'agence </span>
                </a>
              </li>

                <li>
                <a href="{{ path('espace_agence_modifier_photo')}}"><img src="/images/icone/user.svg" ><span> Photo D'agence </span>
                </a>
            </li>
              
           <li>
              <a href="{{path('espace_agence_modifier_adresse')}}"><img src="/images/icone/adresse.svg" ><span> Adresse D'agence</span>
              </a>
            </li>
              
            <li>
                <a href="{{path('espace_agence_modifier_num_tel')}}"><img src="/images/icone/phone.svg" ><span> Numéro Téléphone </span>
                </a>
              </li>

           
              
          </ul>
  
        </li>
  
      </ul>
  
      <ul>

          <li>
    
            <a href="#">
                <img src="/images/icone/soccer-field.svg"><span> Vos Terrains </span>
     
            </a>
             <ul>
           
            
            <li>
                <a href="{{path('espace_agence_modifier_terrain')}}"><img src="/images/icone/pencil.svg" ><span> Modifier Terrain </span>
                </a>
              </li>
              
            <li>
                <a href="{{path('espace_agence_ajouter_terrain')}}"><img src="/images/icone/plus.svg" ><span> Ajouter un Terrain </span>
                </a>
              </li>
          </ul>
  
    
          </li>
    
        </ul>

        
      <ul>

          <li>
    
            <a href="#">
                <img src="/images/icone/trophy.svg"><span> Vos Tournois </span>
     
            </a>
    
          </li>
    
        </ul>
        <ul>

          <li>
    
            <a href="{{path('espace_agence_mes_reservation')}}">
                <img src="/images/icone/calendar.svg"><span> Réservation </span>
     
            </a>
    
          </li>
    
        </ul>
    
      
  </div>
            
            <div id="conteneur_recherche">

                <div class="searchbar ">
                    <input class="search_input" type="text" name="" placeholder="Chercher...">
                    <a href="#" class="search_icon"><img src="/images/icone/loupe.svg" id="loupe_icone"></a>
                </div>
            
            </div>
  </nav>




 <section>
    
    {% block section %}
    
    {% endblock %}

  </section>




  <footer>
         <div id="social">
            <ul>
              <li>
                    <a href="#"> <img src="/images/icone/facebook.svg" class="social_img"></a>
                </li>
        
                <li>
                    <a href="#"> <img src="/images/icone/twitter.svg" class="social_img"></a>

                </li>
                
                <li>
                    <a href="#"><img src="/images/icone/google-plus.svg" class="social_img"> </a>
                </li>
                    
                <li>
                    <a href="#"><img src="/images/icone/linkedin.svg" class="social_img"></a>
                </li>
               

                <li>
                    <a href="#"><img src="/images/icone/instagram.svg" class="social_img"></a>
                </li>
                
                <li>
                    <a href="#"><img src="/images/icone/pinterest.svg" class="social_img"></a>
                </li>
                  
            </ul>
  
        </div>

        <div id="Copyright">
           <h4>&copy; 2020 Copyright: Sofiene achour</h4>
        </div>

    </footer>
 

    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
    
</body>
</html>